GROQ_API_KEY= "*************************************************"
HUGGINGFACEHUB_API_TOKEN = "*************************************"


LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=production-rag-kubernetes